@import url("../../../css/root.css");

/* Put here any 'items.html' specific css */

.top-tab-session {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.top-tab-row-session {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 0 var(--horizontal-padding);
}