@import url("../../../css/root.css");

/* Put here any 'footer.component.js' specific css */

.item-pad {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    box-shadow: #00000035 0 10px 20px;
    font-family: Roboto-Bold;
    margin: 20px 20px;
    background-color: #ffffffcc;
}

.item-pad:hover {
    cursor: pointer;
    box-shadow: #00000065 0 10px 20px;
    background-color: #ffffffdd;
}

.item-pad-image {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    width: 85%;
    min-width: 150px;
    height: 150px;
    margin: auto auto;
    border-radius: 10px;
}

.item-pad-name {
    margin: auto auto;
}

.item-pad-title {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin: 10px 0;
}

.type-title {
    
}

.session-title {
    justify-content: space-between;
    align-items: baseline;
    padding: 0 var(--horizontal-padding);

    font-size: 15px;
}
